/SemaforoWeb/.vs/SemaforoWeb/config/applicationhost.config
/SemaforoWeb/.vs/SemaforoWeb/DesignTimeBuild/.dtbcache.v2
/SemaforoWeb/.vs/SemaforoWeb/v16/.suo
/SemaforoWeb/Semaforo.Logic/bin/
/SemaforoWeb/Semaforo.Logic/obj/
